/*GENERAL*/
i>span{margin-left: 5px}
a:link {color:#000000;}
a:visited {color:#000000;}
a:active {color:#000000;}
a:hover {color:#000000;}
.card .card-title, .center{
    text-align: center;
}
.progress{
    height: 20px;
    margin-bottom: 20px;
}

.categories{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}
.categories .category{
    padding: 5px 85px 5px 85px;
    background-color: #007bff;
}

.categories .category h2 > strong{
    color: #ffffff;
}
.categories .active{
    background-color: #00eaae;
    text-decoration: underline #ffffff;
}

.right{
    text-align: right;
}

.my-footer{
    max-width: 1380px;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all{
    overflow: auto;
    height: 210px;
}

.user-menu a:hover, .user-menu a:hover span, .user-menu a.active, .user-menu a.active span {color:#007bff;}
.sector p{margin: 0 auto 10px;
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 10px;display: inline-block; min-width: 268px;
}
.sector p:hover, .sector p.active {color: #fff; background-color: #007bff}
.sector p:hover a>span, .sector p.active a>span {color: #ffffff!important}
.padding-up{padding-top: 0px}
.padding-down{padding-bottom: 0px}

.sector .box {padding: 0!important;}
.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@media (max-width: 425px) {
    .categories{
        display: flex;
        flex-direction: column;
    }
    .categories .category h2 > strong{
        color: #ffffff;
    }
    .categories .active{
        background-color: #00eaae;
        text-decoration: underline #ffffff;
    }
}
