/*GENERAL*/
i>span{margin-left: 5px}
a:link {color:#000000;}
a:visited {color:#000000;}
a:active {color:#000000;}
a:hover {color:#000000;}
/*SECTION LOCKSCREEN*/
.lock_screen{
    position: fixed;
    top: 0;
    left: 200%;
    right: 0;
    bottom: 0;
    z-index: 9999;
    transition: 1s ease all;
    height: 100vh;
    width: 100%;

}
.lock_screen iframe {width: 100%; height: 100vh;}
body .locked {overflow: hidden}

.lock_screen.active {left: 0}

.lockscreen-wrapper.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.error-message>p{
    text-align: center;
    color: red;
}

/** USER SECTION **/
.btn.btn-actions{color: #666;border: 1px solid #ddd;background-color: #f4f4f4;}
input[type="search"]{border-radius: 15px;border: 1px solid #3c8dbc;}
.color-palette-set{display: flex;justify-content: flex-start;align-items: center;}
.color-palette-set div{margin-right: 5px;}
.bg-purple.disabled.color-palette{border: 4px solid #605ca8;}
.bg-aqua.disabled.color-palette{border: 4px solid #00c0ef;}
.bg-green.disabled.color-palette{border: 4px solid #00a65a;}
.blocked{background-color: #e5b3ba;}
.table-striped>tbody>tr:nth-of-type(odd).blocked {background-color: #e5b3ba;}
#table_wrapper>.row:first-child>div:first-child{display: none;}
#table_wrapper #table_filter label {width: 100%;}
#table_wrapper #table_filter label>input {width: 90%; margin-left: 15px;}

.icheckbox_flat-green.checked+label {color:green}

/** PROJECT SECTION **/
.title-project{
    text-align: center;
}

.progress-bar-site{
    margin-left: 9px;
    width: 511px;
    height: 30px;
}

.percentage-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
